<!DOCTYPE html>
<html>
<title>GPS Activity Analysts | VolHacks III</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-animate-left w3-text-white w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold;background-color:#ff8200" id="mySidebar">
        <br>
        <h3 class="w3-padding-64 w3-center" style="display: block;"><b>GPS<br>Activity Analysts</b></h3>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
        
        <h3 class="w3-padding-16" style="display: block;">Project Members</h3>
        <h6>Daniel Sylwestrowicz</h6>
        <h6>Owen Barbour</h6>
        <h6>Charles Weber</h6>
        <h6>Chloe Ross</h6>

        <!--<a href="#" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>-->
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
        <span class="w3-left w3-padding">GPS Activity Analysts</span>
        <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- HOME section -->
        <div class="w3-container w3-white w3-padding-32" id="home">
            <div class="w3-center">
                <h1>Improve Your Tracks</h1>
            </div>
            {% if not fileUploaded %}
            <div class="w3-center">
                <h4>Upload a .gpx file:</h4>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file" class="w3-button w3-light-grey">
                    <input type="submit" value="Upload" class="w3-button w3-light-grey">
                </form>
            </div>
            {% else %}
            <div class="w3-center">
                <h4>
                    Download processed .gpx file:
                </h4>
                <button onclick="location.href='https://storage.googleapis.com/linen-mason-217917.appspot.com/output/UpdatedTracks.gpx'"
                        target="_blank" class="w3-button w3-light-grey">Download</button>
                <br>
                <a href=".">Try another file.</a>
            </div>
            {% endif %}
        </div>

    <!-- End page content -->
    </div>

    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

    </script>

</body>
</html>